.com-fe1c1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.place-f8f60 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 1;
  background: #f0f0f0;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}
.place-f8f60.none-e996f {
  z-index: -1;
  opacity: 0;
}

.detail-c9948 {
  width: 100%;
  height: 100%;
  min-height: 667px;
  overflow: hidden;
  background: #f1f1f1;
}
.detail-c9948 .head-be1f9 {
  position: relative;
  overflow: hidden;
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.detail-c9948 .head-be1f9 .thumbnailSlot-b132d {
  width: 375px;
  height: 171px;
  position: relative;
}
.detail-c9948 .head-be1f9 .thumbnailSlot-b132d .thumbnail-bd5e7 {
  display: block;
  width: 375px;
  height: 171px;
}
.detail-c9948 .head-be1f9 .meta-b1f9d {
  padding: 12px;
  overflow: hidden;
}
.detail-c9948 .head-be1f9 .meta-b1f9d .title-d9af4 {
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
}
.detail-c9948 .head-be1f9 .meta-b1f9d .datetime-ac889 {
  margin-top: 6px;
  color: #666666;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: flex-start;
}
.detail-c9948 .head-be1f9 .meta-b1f9d .datetime-ac889::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: url("https://ali-ec.static.yximgs.com/udata/pkg/eshop/chrome-plugin-upload/2023-06-20/1687233138823.2901fa9743bd2f04.png") no-repeat center center / contain;
  margin-top: 3px;
  margin-right: 6px;
}
.detail-c9948 .head-be1f9 .meta-b1f9d .address-dd9cb {
  margin-top: 6px;
  color: #666666;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: flex-start;
}
.detail-c9948 .head-be1f9 .meta-b1f9d .address-dd9cb::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: url("https://ali-ec.static.yximgs.com/udata/pkg/eshop/chrome-plugin-upload/2023-06-20/1687233164827.c7a82fc656dae1d7.png") no-repeat center center / contain;
  margin-top: 3px;
  margin-right: 6px;
}
.content-a43eb {
  margin-top: 24px;
}
.content-a43eb image,
.content-a43eb img {
  display: block;
  width: 100%;
  height: 100%;
}
.bannerSlot-a8966,
.footerSlot-ec9f6 {
  margin-top: 24px;
}
.bannerSlot-a8966.empty-ba0ab,
.footerSlot-ec9f6.empty-ba0ab {
  height: 90px;
}
.placeholder-d384c {
  width: 100%;
  height: 52px;
  margin-top: constant(safe-area-inset-bottom);
  margin-top: env(safe-area-inset-bottom);
}
.signupBar-b4ab3 {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(52px + constant(safe-area-inset-bottom));
  height: calc(52px + env(safe-area-inset-bottom));
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
}
.signupBar-b4ab3 .share-af1f8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 54px;
  height: 40px;
  background: transparent;
  padding: 0;
}
.signupBar-b4ab3 .share-af1f8::after {
  display: none;
}
.signupBar-b4ab3 .share-af1f8 .shareButton-d2491 {
  width: 24px;
  height: 24px;
  background: url("https://admin.alialumni.com/mfs/UE2uxcBhkdT8JJvDLLLXcCzAt3bkAalP-1689235341298.png") no-repeat center center / contain;
}
.signupBar-b4ab3 .share-af1f8 .shareText-ddedd {
  margin-top: 4px;
  font-size: 10px;
  line-height: 12px;
  height: 12px;
  color: #333333;
  opacity: 0.6;
  width: 100%;
}
.signupBar-b4ab3 .contact-e5556 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 54px;
  height: 40px;
  margin-right: 12px;
  position: relative;
}
.signupBar-b4ab3 .contact-e5556 .contactTips-e85b6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fa6d25;
  transform: translateY(-48px);
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
}
.signupBar-b4ab3 .contact-e5556 .contactTips-e85b6::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #fa6d25;
  transform: translateX(21px);
}
.signupBar-b4ab3 .contact-e5556 .avatar-d3894 {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.signupBar-b4ab3 .contact-e5556 .nickname-f3ca4 {
  margin-top: 4px;
  font-size: 10px;
  line-height: 12px;
  height: 12px;
  color: #333333;
  opacity: 0.6;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.signupBar-b4ab3 .signupButton-e6610 {
  margin-left: 18px;
  flex: 1;
  height: 40px;
  background: #fa6d25;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: opacity 0.3s ease;
}
.signupBar-b4ab3 .signupButton-e6610.disabled-ecfd8 {
  opacity: 0.7;
}
.userList-f4ce9 {
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  margin-top: 8px;
  overflow-x: auto;
  height: 60px;
}
.userList-f4ce9::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  color: transparent;
}
.userList-f4ce9 .item-cbc20 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42px;
  height: 60px;
  margin-right: 12px;
  overflow: hidden;
}
.userList-f4ce9 .item-cbc20 .avatarWrapper-e3c20 {
  width: 42px;
  height: 42px;
  position: relative;
}
.userList-f4ce9 .item-cbc20 .avatar-d3894 {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.userList-f4ce9 .item-cbc20 .nickname-f3ca4 {
  color: #666666;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-e50e0 {
  margin-top: 12px;
  padding: 12px;
  background: #ffffff;
}
.card-e50e0 .label-f5819 {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  line-height: 19px;
}
.card-e50e0 .label-f5819::before {
  margin-right: 4px;
  display: block;
  content: "";
  width: 8px;
  height: 13px;
  background: #fa6d25;
  border-radius: 0px 10px 10px 0px;
}
.card-e50e0 .content-a43eb {
  margin-top: 12px;
  font-size: 14px;
  color: #383838;
  line-height: 20px;
}
.errorResult-a416d {
  background: #ffffff;
}
.errorResult-a416d .text-b8cfa {
  text-align: center;
  margin-top: 240px;
  font-size: 14px;
  color: #383838;
}
.groupCard-df8b6 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
  border-radius: 2px;
}
.groupCard-df8b6 .head-be1f9 {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.groupCard-df8b6 .head-be1f9 .main-fd690 {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 12px;
  overflow: hidden;
}
.groupCard-df8b6 .head-be1f9 .main-fd690 .logo-b9a43 {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
}
.groupCard-df8b6 .head-be1f9 .main-fd690 .meta-b1f9d {
  flex: 1;
  overflow: hidden;
}
.groupCard-df8b6 .head-be1f9 .main-fd690 .meta-b1f9d .title-d9af4 {
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.groupCard-df8b6 .head-be1f9 .main-fd690 .meta-b1f9d .condition-ac819 {
  color: #666666;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.groupCard-df8b6 .head-be1f9 .button-ec781 {
  width: 58px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #ffffff;
  background: #fa6d23;
}
.groupCard-df8b6 .head-be1f9 .button-ec781::before {
  margin-right: 6px;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: url("https://admin.alialumni.com/mfs/StgSChIfCvcX7WMx3wxt2QydJbiJ5w1U-1689059996219.png") no-repeat center center / contain;
}

