.detail-dbce5 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.detail-dbce5 .head-a16c2 {
  width: 375px;
  height: 268px;
  background: url("https://admin.alialumni.com/mfs/hlJst4vIYzqktMkdsxXTtqGkVFXlY7E1-1689081529147.png") no-repeat center center / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.detail-dbce5 .head-a16c2 .logo-afa8b {
  display: block;
  width: 150px;
  height: 150px;
  border: 2px solid #ffffff;
  border-radius: 16px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.detail-dbce5 .head-a16c2 .title-b6d09 {
  font-size: 18px;
  color: #000000;
  line-height: 25px;
  font-weight: 500;
  margin-top: 18px;
}
.detail-dbce5 .head-a16c2 .membersCount-e27a9 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
  color: #fa6d25;
}
.detail-dbce5 .head-a16c2 .membersCount-e27a9::before {
  content: "会员人数";
  color: #595959;
  margin-right: 3px;
}
.detail-dbce5 .card-d52c3 {
  padding: 12px;
  background: #ffffff;
}
.detail-dbce5 .card-d52c3 .label-f2ea8 {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  line-height: 19px;
}
.detail-dbce5 .card-d52c3 .label-f2ea8::before {
  margin-right: 4px;
  display: block;
  content: "";
  width: 8px;
  height: 13px;
  background: #fa6d25;
  border-radius: 0px 10px 10px 0px;
}
.detail-dbce5 .card-d52c3 .content-bc75b {
  margin-top: 12px;
  font-size: 14px;
  color: #383838;
  line-height: 20px;
}
.detail-dbce5 .applyInfo-e2926 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.detail-dbce5 .applyInfo-e2926 .qrcode-fec3c {
  display: block;
  width: 150px;
}
.detail-dbce5 .applyInfo-e2926 .admin-c5d3f {
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.detail-dbce5 .applyInfo-e2926 .admin-c5d3f .avatar-f361b {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}
.detail-dbce5 .applyInfo-e2926 .admin-c5d3f .nickname-f5d89 {
  font-size: 12px;
  color: #333333;
  line-height: 18px;
}
.detail-dbce5 .applyInfo-e2926 .tips-c649a {
  margin-top: 12px;
  font-size: 12px;
  color: #999999;
  line-height: 18px;
}
.placeholder-c7390 {
  width: 100%;
  height: 52px;
  margin-top: constant(safe-area-inset-bottom);
  margin-top: env(safe-area-inset-bottom);
}
.signupBar-a3a7a {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(52px + constant(safe-area-inset-bottom));
  height: calc(52px + env(safe-area-inset-bottom));
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
}
.signupBar-a3a7a .share-f89bd {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signupBar-a3a7a .share-f89bd .shareText-dd199 {
  font-size: 10px;
  color: #333333;
  opacity: 0.6;
}
.signupBar-a3a7a .shareButton-fdcfe {
  width: 24px;
  height: 24px;
  background: url("https://admin.alialumni.com/mfs/UE2uxcBhkdT8JJvDLLLXcCzAt3bkAalP-1689235341298.png") no-repeat center center / contain;
}
.signupBar-a3a7a .shareButton-fdcfe::after {
  display: none;
}
.signupBar-a3a7a .signupButton-c98d7 {
  margin-left: 24px;
  flex: 1;
  height: 40px;
  background: #fa6d25;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: opacity 0.3s ease;
}
.signupBar-a3a7a .signupButton-c98d7.disabled-a0d5d {
  opacity: 0.7;
}
.activityCard-a597c {
  width: 351px;
  height: 246px;
  background: #ffffff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow: hidden;
}
.activityCard-a597c .head-a16c2 {
  position: relative;
  width: 351px;
  height: 160px;
  overflow: hidden;
}
.activityCard-a597c .head-a16c2 .tag-b4c19 {
  position: absolute;
  top: 0;
  left: 0;
  background: #ea732e;
  border-bottom-right-radius: 2px;
  z-index: 1;
  padding: 2px 8px;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
.activityCard-a597c .head-a16c2 .thumbnail-c868c {
  display: block;
  width: 351px;
  height: 160px;
}
.activityCard-a597c .body-ad0d8 {
  padding: 6px 12px 12px;
  position: relative;
  width: 100%;
}
.activityCard-a597c .body-ad0d8 .title-b6d09 {
  font-weight: 500;
  color: #333333;
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.activityCard-a597c .body-ad0d8 .meta-f6049 {
  margin-top: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.activityCard-a597c .body-ad0d8 .meta-f6049 .left-bd140 {
  flex: 1;
  min-width: 0;
}
.activityCard-a597c .body-ad0d8 .meta-f6049 .btn-f7c7f {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 32px;
  border-radius: 2px;
  border: 1px solid #fa6d25;
  font-size: 14px;
  color: #fa6d25;
  line-height: 16px;
}
.activityCard-a597c .body-ad0d8 .meta-f6049 .btn-f7c7f::after {
  display: block;
  margin-left: 6px;
  content: "";
  width: 14px;
  height: 14px;
  background: url("https://admin.alialumni.com/mfs/LDSWMxLfHoRVxlqguEcSzt2kzt697IUZ-1689058018953.png") no-repeat center center / contain;
}
.activityCard-a597c .body-ad0d8 .meta-f6049 .datetime-ed25d {
  font-size: 13px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
}
.activityCard-a597c .body-ad0d8 .meta-f6049 .datetime-ed25d .text-b8386 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.activityCard-a597c .body-ad0d8 .meta-f6049 .datetime-ed25d::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: url("https://admin.alialumni.com/mfs/n4aHBYikakkddHnJjv6YbPbjDrVmkmfy-1689058413409.png") no-repeat center center / contain;
  margin-right: 6px;
}
.activityCard-a597c .body-ad0d8 .meta-f6049 .address-c6a26 {
  margin-top: 6px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  line-height: 17px;
  display: flex;
  align-items: center;
}
.activityCard-a597c .body-ad0d8 .meta-f6049 .address-c6a26 .text-b8386 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.activityCard-a597c .body-ad0d8 .meta-f6049 .address-c6a26::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: url("https://admin.alialumni.com/mfs/t8R9immOvwPdOho3jqOZbzLhIPQdfzr2-1689058450485.png") no-repeat center center / contain;
  margin-right: 6px;
}

.com-fe1c1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.place-f8f60 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 1;
  background: #f0f0f0;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}
.place-f8f60.none-e996f {
  z-index: -1;
  opacity: 0;
}

