.canvas-ee1ce {
  width: 375px;
  height: 120px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.tabBar-bb7a5 {
  width: 375px;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.tabBar-bb7a5 .items-cfb89 {
  width: 375px;
  height: 54px;
  display: flex;
}
.tabBar-bb7a5 .item-ef823 {
  flex: 1;
  height: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabBar-bb7a5 .item-ef823 .iconSlot-e7e32 {
  position: relative;
  width: 22px;
  height: 22px;
}
.tabBar-bb7a5 .item-ef823 .iconSlot-e7e32 .icon-e6490 {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
.tabBar-bb7a5 .item-ef823 .iconSlot-e7e32.iconSlotCenter-a4215 .icon-e6490 {
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.tabBar-bb7a5 .item-ef823 .textSlot-e2b9a {
  margin-top: 6px;
  height: 14px;
}

.tabBar-f27a9 {
  width: 375px;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.tabBar-f27a9 .items-f72c1 {
  width: 375px;
  height: 54px;
  display: flex;
}
.tabBar-f27a9 .item-b9d3f {
  flex: 1;
  height: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabBar-f27a9 .item-b9d3f .iconSlot-c8331 {
  position: relative;
  width: 22px;
  height: 22px;
}
.tabBar-f27a9 .item-b9d3f .iconSlot-c8331 .icon-ac67a {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
.tabBar-f27a9 .item-b9d3f .iconSlot-c8331.iconSlotCenter-a6ec0 .icon-ac67a {
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.tabBar-f27a9 .item-b9d3f .textSlot-bbd21 {
  margin-top: 6px;
  height: 14px;
}

.emptyCom-dc7f7 {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
  font-size: 12px;
}

