.information-b7f58 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.information-b7f58 .meta-e244a {
  font-size: 10px;
  line-height: 20px;
  color: #cccccc;
}

