.card-fa919 {
  width: 351px;
  height: 246px;
  background: #ffffff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow: hidden;
}
.card-fa919 .head-e1e04 {
  position: relative;
  width: 351px;
  height: 160px;
  overflow: hidden;
}
.card-fa919 .head-e1e04 .tag-a6209 {
  position: absolute;
  top: 0;
  left: 0;
  background: #ea732e;
  border-bottom-right-radius: 2px;
  z-index: 1;
  padding: 2px 8px;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
.card-fa919 .head-e1e04 .thumbnail-afa4c {
  display: block;
  width: 351px;
  height: 160px;
}
.card-fa919 .body-c569c {
  padding: 6px 12px 12px;
  position: relative;
  width: 100%;
}
.card-fa919 .body-c569c .title-f5e75 {
  font-weight: 500;
  color: #333333;
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-fa919 .body-c569c .meta-ce486 {
  margin-top: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.card-fa919 .body-c569c .meta-ce486 .left-c54c9 {
  flex: 1;
  min-width: 0;
}
.card-fa919 .body-c569c .meta-ce486 .btn-e6bb4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 32px;
  border-radius: 2px;
  border: 1px solid #fa6d25;
  font-size: 14px;
  color: #fa6d25;
  line-height: 16px;
}
.card-fa919 .body-c569c .meta-ce486 .btn-e6bb4::after {
  display: block;
  margin-left: 6px;
  content: "";
  width: 14px;
  height: 14px;
  background: url("https://admin.alialumni.com/mfs/LDSWMxLfHoRVxlqguEcSzt2kzt697IUZ-1689058018953.png") no-repeat center center / contain;
}
.card-fa919 .body-c569c .meta-ce486 .datetime-e4e8c {
  font-size: 13px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
}
.card-fa919 .body-c569c .meta-ce486 .datetime-e4e8c .text-b607b {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-fa919 .body-c569c .meta-ce486 .datetime-e4e8c::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: url("https://admin.alialumni.com/mfs/n4aHBYikakkddHnJjv6YbPbjDrVmkmfy-1689058413409.png") no-repeat center center / contain;
  margin-right: 6px;
}
.card-fa919 .body-c569c .meta-ce486 .address-a5a54 {
  margin-top: 6px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  line-height: 17px;
  display: flex;
  align-items: center;
}
.card-fa919 .body-c569c .meta-ce486 .address-a5a54 .text-b607b {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-fa919 .body-c569c .meta-ce486 .address-a5a54::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: url("https://admin.alialumni.com/mfs/t8R9immOvwPdOho3jqOZbzLhIPQdfzr2-1689058450485.png") no-repeat center center / contain;
  margin-right: 6px;
}

.com-fe1c1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.place-f8f60 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 1;
  background: #f0f0f0;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}
.place-f8f60.none-e996f {
  z-index: -1;
  opacity: 0;
}

