.detail-dbce5 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.detail-dbce5 .head-a16c2 {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail-dbce5 .head-a16c2 .logo-afa8b {
  display: block;
  width: 120px;
  height: 120px;
}
.detail-dbce5 .head-a16c2 .title-b6d09 {
  margin-top: 12px;
  font-weight: 500;
  color: #333333;
  font-size: 16px;
  line-height: 22px;
}
.detail-dbce5 .body-ad0d8 {
  position: relative;
  padding: 12px 30px;
}
.detail-dbce5 .body-ad0d8 .meta-f6049 {
  margin-top: 6px;
  overflow: hidden;
}
.detail-dbce5 .body-ad0d8 .meta-f6049 .desc-f04fe {
  color: #666666;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.detail-dbce5 .body-ad0d8 .applyInfo-e2926 {
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.detail-dbce5 .body-ad0d8 .applyInfo-e2926.overlay-f0fce::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(253, 106, 0, 0.5);
  content: "";
}
.detail-dbce5 .body-ad0d8 .applyInfo-e2926.overlay-f0fce::after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1001;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  background: #ffffff;
  content: "加入组织后可见";
  border-radius: 30px;
  font-weight: 500;
  color: #fd6a00;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.detail-dbce5 .body-ad0d8 .applyInfo-e2926 .qrcode-fec3c {
  display: block;
  width: 210px;
  height: 210px;
}
.detail-dbce5 .body-ad0d8 .applyInfo-e2926 .admin-c5d3f {
  display: flex;
  align-items: center;
}
.detail-dbce5 .body-ad0d8 .applyInfo-e2926 .admin-c5d3f .avatar-f361b {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}
.detail-dbce5 .body-ad0d8 .applyInfo-e2926 .admin-c5d3f .nickname-f5d89 {
  font-size: 12px;
  color: #333333;
  line-height: 18px;
}
.detail-dbce5 .body-ad0d8 .applyInfo-e2926 .tips-c649a {
  margin-top: 12px;
  font-size: 12px;
  color: #999999;
  line-height: 18px;
}
.bannerSlot-eb736,
.footerSlot-c4674 {
  margin-top: 24px;
}
.bannerSlot-eb736.empty-f9453,
.footerSlot-c4674.empty-f9453 {
  height: 90px;
}
.foot-ca3fd {
  width: 100%;
  height: 60px;
  margin-top: constant(safe-area-inset-bottom);
  margin-top: env(safe-area-inset-bottom);
}
.signupBar-a3a7a {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(60px + constant(safe-area-inset-bottom));
  height: calc(60px + env(safe-area-inset-bottom));
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  background: #ffffff;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}
.signupBar-a3a7a .share-f89bd {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signupBar-a3a7a .share-f89bd .shareText-dd199 {
  font-size: 10px;
  color: #333333;
  opacity: 0.6;
}
.signupBar-a3a7a .shareButton-fdcfe {
  width: 24px;
  height: 24px;
  background: url("https://ali-ec.static.yximgs.com/udata/pkg/eshop/chrome-plugin-upload/2023-06-20/1687233418455.200e5dfde2bd3ce4.png") no-repeat center center / contain;
}
.signupBar-a3a7a .shareButton-fdcfe::after {
  display: none;
}
.signupBar-a3a7a .signupButton-c98d7 {
  margin-left: 12px;
  flex: 1;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 18px;
  background: #fd6a00;
  box-shadow: 0px 0px 10px rgba(253, 106, 0, 0.5);
  transition: opacity 0.3s ease;
}
.signupBar-a3a7a .signupButton-c98d7.disabled-a0d5d {
  opacity: 0.7;
}
.signupInfo-e122e .label-f2ea8 {
  border-left: 4px solid #ff8400;
  padding-left: 8px;
  margin-top: 12px;
  font-weight: 500;
  color: #333333;
  font-size: 16px;
  line-height: 22px;
}
.signupInfo-e122e .value-e6a01 {
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  margin-top: 8px;
  overflow-x: auto;
}
.signupInfo-e122e .value-e6a01 .item-f9a2b {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42px;
  margin-right: 12px;
  overflow: hidden;
}
.signupInfo-e122e .value-e6a01 .item-f9a2b .avatar-f361b {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.signupInfo-e122e .value-e6a01 .item-f9a2b .nickname-f5d89 {
  color: #666666;
  font-size: 12px;
  line-height: 18px;
  margin-top: 4px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

