.page-b6a09 {
  width: 375px;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
.page-b6a09 .content-aa930 {
  flex: 1;
}
.fixedTop-ac522 {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 375px;
}
.fixedBottom-e80af {
  position: fixed;
  z-index: 10000;
  left: 0;
  bottom: 0;
  width: 375px;
}
.tabBarPlaceholder-a9b2b {
  width: 375px;
  height: calc(54px + constant(safe-area-inset-bottom));
  height: calc(54px + env(safe-area-inset-bottom));
}
.footerPlaceholder-cb11b {
  width: 100%;
  height: constant(safe-area-inset-bottom);
  height: env(safe-area-inset-bottom);
}
.footer-e10fd {
  width: 100%;
  position: relative;
  transform: scale(1);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
}
.footer-e10fd .safearea-b2947 {
  width: 100%;
  height: constant(safe-area-inset-bottom);
  height: env(safe-area-inset-bottom);
}

.defaultNavigation-e94c0 .safearea-d84f4 {
  width: 100%;
  height: 44px;
}
.defaultNavigation-e94c0 .main-ecad0 {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.defaultNavigation-e94c0 .main-ecad0 .left-bfd10 {
  width: 87px;
  height: 32px;
  position: absolute;
  top: 4px;
  left: 7px;
}
.defaultNavigation-e94c0 .main-ecad0 .left-bfd10 .backIcon-fa7ec {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
}
.defaultNavigation-e94c0 .main-ecad0 .left-bfd10 .homeIcon-baaf8 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  display: block;
  width: 18px;
  height: 18px;
}
.defaultNavigation-e94c0 .main-ecad0 .right-da77c {
  width: 87px;
  height: 32px;
  position: absolute;
  top: 4px;
  right: 7px;
}
.defaultNavigation-e94c0 .main-ecad0 .title-fc04a {
  font-weight: 500;
  font-size: 16px;
}

.customNavigation-d6dc1 .safearea-e0567 {
  width: 100%;
}
.customNavigation-d6dc1 .main-aecf0 {
  width: 100%;
  position: relative;
}
.customNavigation-d6dc1 .main-aecf0 .left-b3360 {
  position: absolute;
  z-index: 100;
}
.customNavigation-d6dc1 .main-aecf0 .left-b3360 .backIcon-a3c27 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
}
.customNavigation-d6dc1 .main-aecf0 .left-b3360 .homeIcon-ab356 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  display: block;
  width: 18px;
  height: 18px;
}
.customNavigation-d6dc1 .main-aecf0 .right-e758a {
  width: 87px;
  height: 32px;
  position: absolute;
  top: 4px;
  right: 7px;
  z-index: 10;
}
.customNavigation-d6dc1 .main-aecf0 .title-c9929 {
  width: 100%;
  height: 100%;
}

.tabBar-f27a9 {
  width: 375px;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.tabBar-f27a9 .items-f72c1 {
  width: 375px;
  height: 54px;
  display: flex;
}
.tabBar-f27a9 .item-b9d3f {
  flex: 1;
  height: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabBar-f27a9 .item-b9d3f .iconSlot-c8331 {
  position: relative;
  width: 22px;
  height: 22px;
}
.tabBar-f27a9 .item-b9d3f .iconSlot-c8331 .icon-ac67a {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
.tabBar-f27a9 .item-b9d3f .iconSlot-c8331.iconSlotCenter-a6ec0 .icon-ac67a {
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.tabBar-f27a9 .item-b9d3f .textSlot-bbd21 {
  margin-top: 6px;
  height: 14px;
}

