.placeholder-a6ff5 {
  width: 100%;
}
.fixedView-a3f07 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.defaultNavigation-c75ea .safearea-cc361 {
  width: 100%;
  height: 44px;
}
.defaultNavigation-c75ea .main-c3b8d {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.defaultNavigation-c75ea .main-c3b8d .left-db1e7 {
  width: 87px;
  height: 32px;
  position: absolute;
  top: 4px;
  left: 7px;
}
.defaultNavigation-c75ea .main-c3b8d .left-db1e7 .backIcon-f92d1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
}
.defaultNavigation-c75ea .main-c3b8d .left-db1e7 .homeIcon-f5970 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  display: block;
  width: 18px;
  height: 18px;
}
.defaultNavigation-c75ea .main-c3b8d .right-a6615 {
  width: 87px;
  height: 32px;
  position: absolute;
  top: 4px;
  right: 7px;
}
.defaultNavigation-c75ea .main-c3b8d .title-ea6cd {
  font-weight: 500;
  font-size: 16px;
}
.customNavigation-bbd21 .safearea-cc361 {
  width: 100%;
}
.customNavigation-bbd21 .main-c3b8d {
  width: 100%;
  position: relative;
}
.customNavigation-bbd21 .main-c3b8d .left-db1e7 {
  position: absolute;
  z-index: 100;
}
.customNavigation-bbd21 .main-c3b8d .left-db1e7 .backIcon-f92d1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
}
.customNavigation-bbd21 .main-c3b8d .left-db1e7 .homeIcon-f5970 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  display: block;
  width: 18px;
  height: 18px;
}
.customNavigation-bbd21 .main-c3b8d .right-a6615 {
  width: 87px;
  height: 32px;
  position: absolute;
  top: 4px;
  right: 7px;
}
.customNavigation-bbd21 .main-c3b8d .title-ea6cd {
  width: 100%;
  height: 100%;
}

.emptyCom-dc7f7 {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
  font-size: 12px;
}

