.page-b38f2 {
  width: 375px;
  min-height: 667px;
  height: 667px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.page-b38f2 .navigationBar-c797f {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  flex-shrink: 0;
}
.page-b38f2 .content-d17e4 {
  flex: 1;
}
.page-b38f2 .content-d17e4 .placeholder-b299a {
  display: block;
  width: 120px;
  height: 120px;
}

.placeholder-da422 {
  width: 100%;
}
.fixedView-aea1c {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.defaultNavigation-cac70 .safearea-bc3b3 {
  width: 100%;
  height: 44px;
}
.defaultNavigation-cac70 .main-dce7e {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.defaultNavigation-cac70 .main-dce7e .left-c9096 {
  width: 87px;
  height: 32px;
  position: absolute;
  top: 4px;
  left: 7px;
}
.defaultNavigation-cac70 .main-dce7e .left-c9096 .backIcon-cbbdf {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
}
.defaultNavigation-cac70 .main-dce7e .left-c9096 .homeIcon-f8b9f {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  display: block;
  width: 18px;
  height: 18px;
}
.defaultNavigation-cac70 .main-dce7e .right-eca75 {
  width: 87px;
  height: 32px;
  position: absolute;
  top: 4px;
  right: 7px;
}
.defaultNavigation-cac70 .main-dce7e .title-d17f8 {
  font-weight: 500;
  font-size: 16px;
}
.customNavigation-a2860 .safearea-bc3b3 {
  width: 100%;
}
.customNavigation-a2860 .main-dce7e {
  width: 100%;
  position: relative;
}
.customNavigation-a2860 .main-dce7e .left-c9096 {
  position: absolute;
  z-index: 100;
}
.customNavigation-a2860 .main-dce7e .left-c9096 .backIcon-cbbdf {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
}
.customNavigation-a2860 .main-dce7e .left-c9096 .homeIcon-f8b9f {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  display: block;
  width: 18px;
  height: 18px;
}
.customNavigation-a2860 .main-dce7e .right-eca75 {
  width: 87px;
  height: 32px;
  position: absolute;
  top: 4px;
  right: 7px;
  z-index: 10;
}
.customNavigation-a2860 .main-dce7e .title-d17f8 {
  width: 100%;
  height: 100%;
}

.emptyCom-dc7f7 {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
  font-size: 12px;
}

.tabBar-f7d3d {
  width: 375px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-shrink: 0;
  z-index: 9999;
  position: relative;
}
.tabBar-f7d3d .background-babeb {
  width: 375px;
  height: 50px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  bottom: 0;
}
.tabBar-f7d3d .item-c1680 {
  padding-top: 6px;
  padding-bottom: 6px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #333333;
}
.tabBar-f7d3d .item-c1680 .icon-fd1a1 {
  display: block;
  width: 30px;
  height: 30px;
}
.tabBar-f7d3d .item-c1680 .text-a36aa {
  margin-top: 6px;
  color: #333333;
  font-size: 12px;
  line-height: 1;
  height: 12px;
}
.tabBar-f7d3d .item-c1680.selected-ac2a7 .text-a36aa {
  color: #ea732e;
}

