.layout-c7bec {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.row-d9bd9 {
  display: flex;
  flex-direction: row;
}
.row-d9bd9:not(:first-of-type) {
  margin-top: -1px;
}
.col-ee3b4 {
  position: relative;
  overflow: hidden;
}
.col-ee3b4:not(:first-of-type) {
  margin-left: -1px;
}

