.namecard-d67b5 {
  padding: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
  border-radius: 3px;
}
.namecard-d67b5 .head-c08e5 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.namecard-d67b5 .head-c08e5 .main-de9fe {
  flex: 1;
  display: flex;
  align-items: center;
}
.namecard-d67b5 .head-c08e5 .main-de9fe .username-fbba0 {
  font-size: 13px;
  line-height: 24px;
  color: #333333;
  font-weight: 500;
}
.namecard-d67b5 .head-c08e5 .main-de9fe .icon-c10e0 {
  display: block;
  width: 45px;
  height: 14px;
}
.namecard-d67b5 .head-c08e5 .aside-b4273 .avatar-a7cb5 {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

