.page-f0b36 {
  width: 375px;
  min-height: 667px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.page-f0b36 .navigationBar-d196d {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  flex-shrink: 0;
}
.page-f0b36 .content-ee141 {
  flex: 1;
}
.page-f0b36 .content-ee141 .placeholder-c9ab8 {
  display: block;
  width: 120px;
  height: 120px;
}
.page-f0b36 .tabBar-f7d25 {
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
  z-index: 9999;
}
.page-f0b36 .tabBar-f7d25 .item-afc43 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
}
.page-f0b36 .tabBar-f7d25 .item-afc43 .icon-d9cf2 {
  display: block;
  width: 30px;
  height: 30px;
}
.page-f0b36 .tabBar-f7d25 .item-afc43 .text-ca223 {
  margin-top: 6px;
  color: #333333;
  font-size: 12px;
  line-height: 1;
  height: 12px;
}
.page-f0b36 .tabBar-f7d25 .item-afc43.selected-a586e .text-ca223 {
  color: #ea732e;
}

