.grid-fe8ea {
  overflow: hidden;
}
.grid-fe8ea .inner-fa3a8 {
  display: flex;
  flex-wrap: wrap;
}
.grid-fe8ea .item-cff66 {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.grid-fe8ea .item-cff66 .icon-f3d13 {
  display: block;
  width: 26px;
  height: 26px;
}
.grid-fe8ea .item-cff66 .label-d3085 {
  margin-top: 8px;
  font-size: 12px;
  line-height: 1;
  color: #333333;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

