.tabBar-f9ee1 {
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
  z-index: 9999;
}
.tabBar-f9ee1 .item-ccbc5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
}
.tabBar-f9ee1 .item-ccbc5 .icon-d7fb3 {
  display: block;
  width: 30px;
  height: 30px;
}
.tabBar-f9ee1 .item-ccbc5 .text-bcf62 {
  margin-top: 6px;
  color: #333333;
  font-size: 12px;
  line-height: 1;
  height: 12px;
}
.tabBar-f9ee1 .item-ccbc5.selected-e0253 .text-bcf62 {
  color: #ea732e;
}

.emptyCom-dc7f7 {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
  font-size: 12px;
}

