.wrapper-c290b {
  position: relative !important;
  width: 100%;
  overflow: hidden;
}
.wrapper-c290b .indicators {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: flex;
  align-items: center;
  z-index: 999;
}
.wrapper-c290b .indicators .indicator {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 3px;
  background-color: #ebedf0;
}
.wrapper-c290b .indicators .indicator.indicator-active {
  background-color: #1989fa;
}

.swiper-e3921 .swiperItem-bcdf7 {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

