.image-cfc3a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-cfc3a .taro-img__mode-center {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-cfc3a .taro-img__mode-aspectfit {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

