.webview-f3d38 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.webview-f3d38.edit-ba2d2 {
  width: 375px;
  height: 583px;
  transform: scale(1);
}
.webview-f3d38 .empty-a00fc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999999;
}

.emptyCom-dc7f7 {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
  font-size: 12px;
}

